@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
font-family: 'Roboto', sans-serif;

}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

label {
 margin-left: 0;
 margin-right: 20px;
 border-radius: 12px;
}

input:not(input[type='radio']) {
    display: block;
    width: 100%;
    height: 25px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid rgb(122, 122, 122);
}

button {
    border-radius: 3px;
    background-color: rgb(87, 87, 88);
    color: white;
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}

#div-form {
    display: flex;
    border-radius: 5px;
    background-color: #c5c4c4;
    padding: 30px;
    margin: auto;
    max-width: 360px;
}